/* ===== FONTES ===== */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
}

/* ===== GERAL ===== */


body{
    background: #333;
    color: #fafafa;
}

h4{
    margin-bottom: 0;
}

/* ===== FILTROS TOPO ===== */

form label{
    font-size: .8rem;
    font-weight: 500;
    width: 100%;
}

form input, form select{
    border-radius: .65rem;
    border: none;
    font-size: .8rem;
    padding: 0.5rem 1rem;
    background: rgba(0, 0, 0, .2);
    color: #fafafa;
}

form select option{
    background: #2d2a2e;
}

form select option:hover{
    background: #333;
}



.botao-filtros{
    background: #302335;
    border: 2px solid #333;
    color: #fff;
    padding: .5rem 1rem;
    margin-left: 1rem;
    border-radius: .65rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: .8rem;
}

/* ===== TABELA COM GASTOS ===== */


table{
    background: #2b262d;
    border-radius: .4rem;
    width: 100%;
}

thead{
    background: rgba(50, 50, 50, .3);
    border-left: 5px solid #2b262d;
}

tfoot{
    border-left: 5px solid #2b262d;
}

thead td{
    font-size: 1rem;
}

td:last-child{
    border-right: none;
}

td{
    padding: .5rem;
    text-align: center;
    border-right: 1px solid rgba(255, 255, 255, 0.16);
}

table .gasto-total-bx{
    background: rgba(50, 50, 50, .3) !important;
    color: #fafafa !important;
}

/* ===== BOXES INFORMATIVOS ===== */

.linha-dois{
    margin-top: 3rem;
}


.gasto-total-bx{
    background: #2b262d;
    padding: 3rem 2rem;
    text-align: center;
    border-radius: .65rem;
    color: #fff;
}

.gasto-total-bx:not(tr){
    height: 48%;
    display: grid;
    align-items: center;
    justify-content: center;
}

.aviso-bx{
    padding: 3rem 2rem;
    text-align: center;
    border-radius: .65rem;
    background: #2b262d;
    margin-top: 4%;
    height: 48%;
    display: grid;
    align-items: center;
    justify-content: center;
}

.dentro-limite{
    color: #c0ff50;
}
.fora-limite{
    color: #ac0e0e;
}

/* ===== BARRAS DE GASTOS ===== */

.grafico-bx{
    background: #2b262d;
    padding: 2rem;
    border-radius: .65rem;
}

.barra {
    font-size: .8rem;
    font-weight: 500;
    border-radius: .45rem;
    background: #2d2a2e;
}

.barra-fill{
    padding: 0;
    border-radius: .45rem;
    height: 5px;
    background: rgba(0, 0, 0, .4);
}

tr.categ-comida{
    border-left: 5px solid #61E8E1;
}

.categ-comida .barra-fill{
    background: #61E8E1;
}

tr.categ-cinema{
    border-left: 5px solid #037971;
}

.categ-cinema .barra-fill{
    background: #037971;
}

tr.categ-roupa{
    border-left: 5px solid #2191FB;
}

.categ-roupa .barra-fill{
    background: #2191FB;
}

tr.categ-farmacia{
    border-left: 5px solid#440381;
}

.categ-farmacia .barra-fill{
    background: #440381;
}

tr.categ-shows{
    border-left: 5px solid #2E86AB;
}

.categ-shows .barra-fill{
    background: #2E86AB;
}

tr.categ-supermercado{
    border-left: 5px solid #090C9B;
}

.categ-supermercado .barra-fill{
    background: #090C9B;
}

tr.categ-outros{
    border-left: 5px solid #5F5E82;
}

.categ-outros .barra-fill{
    background: #5F5E82;
}

tr.categ-comida, tr.categ-cinema, tr.categ-roupa, tr.categ-farmacia, tr.categ-shows, tr.categ-supermercado, .categ-outros{
    border-bottom: 1px solid #333;
    background: #9242b;
}

/* ===== JANELA DE ADIÇÃO DE GASTOS ===== */


.add-gasto-box{
    background: #2b262d;
    padding: 2rem 2rem 2rem 5rem;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0%;
    border-radius: 0 .65rem .65rem 0;
    display:block;
    transform: translate(-100%, 0);
}

.add-gasto-box.fechado{
    transform: translate(-100%, 0);
    transition: ease-out 2s;
}

.add-gasto-box.open{
    transform: translate(0, 0);
    transition: ease 0.7s;
}

.add-gasto-btn{
    background: #302335;
    position: absolute;
    left: 100%;
    width: 3rem;
    height: 4rem;
    color: #fff;
    border-radius: 0rem .65rem .65rem 0rem;
    font-size: 2.5rem;
    text-align: center;
    cursor: pointer;
}

.add-gasto-box h3{
    font-size: 1rem;
}

.gasto-input label{
    display: block;
    margin-top: 1.5rem;
}

.gasto-input input, .gasto-input textarea, .gasto-input select{
    border: none;
    background: rgb(45, 42, 46);
    padding: .6rem;
    border-radius: .5rem;
    color: #fafafa;
}

.add-gasto-box button{
    margin-top: 2rem;
    background: #333;
    color: #fff;
    border: none;
    padding: .6rem 1rem;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
    border-radius: .3rem;
}

#add-mensagem{
    background: #9ee6ae;
    padding: .5rem;
    margin-bottom: 2rem;
    border-radius: .65rem;
    display: none;;
}

#add-mensagem p{
    color: #1e7e34;
    margin-bottom: 0;
    padding-left: 2rem;
}

/* FOOTER */

footer{
    background: #111;
    margin-top: 3rem;
    padding: 1rem;
}

footer p{
    font-size: 13px;
    margin-bottom: 0;
}

@media(max-width: 530px){
    body{
        font-size: .8rem;
    }
}